#game-container {
  background: blue;
  width: 650px;
  margin: 0 auto;
  padding: 5px;
  
}
#cube-container {
  
  background: white;
  position: relative;
  width: 500px;
  margin: 20px auto;
}

#game-cube {
  padding: 50px;
  margin: auto;
  /*width: 300px;*/
  /*height: 300px;*/
  /*margin: 20px auto 0 ;*/

  /*perspective: 2000px;*/
  /*perspective-origin: 50% 50%;*/
  /*[>transition: transform 1s;<]*/
  /*[>perspective-origin: 50% 100px;<]*/
}
.cube-arrow {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 20px;
}
#cube-arrow-tl {
  top: 2px;
  left: 2px;
}
#cube-arrow-tr {
  top: 2px;
  right: 2px;
}
#cube-arrow-bl {
  bottom: 2px;
  left: 2px;
}
#cube-arrow-br {
  bottom: 2px;
  right: 2px;
}

/*.cube {*/
  /*position: absolute;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*transform-style: preserve-3d;*/
  /*transition: transform 1s;*/
  /*[>backface-visibility: hidden;<]*/
/*}*/
/*#cube-inner {*/
  /*transform: translateZ(-1600px) rotateX(-30deg) rotateY(40deg);*/
/*}*/
/*.cube div {*/
  /*position: absolute;*/
  /*width: 300px;*/
  /*height: 300px;*/
  /*display: block;*/
  /*transform-style: inherit;*/
/*}*/
.cube figure img.active {
  border: 2px solid white;
}
.cube figure img {
  width: 196px;
  height: 196px;
  background: black;
  border: 2px solid black;
}

.cube .back {
  transform: rotateX( 180deg ) translateZ(100px);
}
.cube .front {
  transform: rotateY( 0deg ) translateZ(100px);
}
.cube .right {
  transform: rotateY( 90deg ) translateZ(100px);
}
.cube .left {
  transform: rotateY( -90deg ) translateZ(100px);
}
.cube .top {
  transform: rotateX( 90deg ) translateZ(100px);
}
.cube .bottom {
  transform: rotateX( -90deg ) translateZ(100px);
}

#game {
  margin: 0 auto;
  background: black;
  display: block;
  border: 3px solid #555;
}

.container {
  width: 200px;
  height: 200px;
  margin: 10px auto;
  perspective: 800px;
  perspective-origin: -100% -100%;
  /*transform-origin: 0% 0%;*/
}
.container .cube  {
  transform-style: preserve-3d;
  transform: translateZ(-200px);
  position: relative;
  margin: 0;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transition: 1s;
}
.container .cube figure {
  width: 200px;
  height: 200px;
  margin: 0;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  text-align: center;
}


